@use "./base.scss";

// Custom CSS

body {
    a {
        &.internal {
            background-color: transparent;
            padding: 0;
        }
    }
    
    .explorer-content ul li > a,
    .folder-container div > a,
    .folder-icon {
        color: var(--darkgray);
    }
    .explorer-content ul li > a:hover {
        color: var(--tertiary);
    }

    .page-listing .section {
        display: flex;
    }

    .page > #quartz-body {
        .sidebar,
        .page-header {
            padding-top: 2rem;
            .breadcrumb-container {
                margin: 0;
                padding-bottom: 2rem;
            }
            .article-title {
                margin: 0;
            }
        }

        .page-header {
            margin: 0;
        }
    }
}